
* {
	font-family: Georgia, courier new;
	color: #000066;
}

body {
	background-color: #F0F0F0;
}

/* Header/logo Title */
.title {
	font-size: 2em;
	margin: auto;
	max-width: 800px;
	color:  #00084F;
	text-align: center;
	/*outline: solid 1px;*/
}

.links {
	max-width: 800px;
	margin: auto;
	text-align: center;
	/*outline: solid 1px;*/
	/*padding-top: 5px;*/
	/*padding-bottom: 5px;*/
}
/* Main column */
.main {
	max-width: 800px;
	margin: auto;
}

/* Responsive layout - when the screen is less than 700px wide,
snake the two columns stack on top of each other instead of next to each other */